.body{
    background-color: rgb(241, 241, 241);
}
#sidebar_menu{
    background-color: rgba(255, 255, 255, .1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 50; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); 
}
@media (max-width: 767.98px) {
    .sidebar {
      top: 2rem;
    }
}
.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item:hover .nav-link { color: pink; }

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
} 

.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background: rgb(0, 0, 0);
    border: 1px solid rgb(5, 0, 0);
}

.sidebar li a{
    color: rgb(224, 202, 202);
}





#sidebar{
    top: 0;
    bottom: 0;
    left: 0;
    min-width:250px;
    max-width:250px;
    background:rgb(255, 255, 255);
    color:#fff;
    box-shadow: inset -2px 0 0 rgba(0, 0, 0, .1);
}
